html,
body {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-stretch: wider;
  position: absolute;
  overflow-x: hidden;
  background-color: #dcdcdc;
}

.header {
  order: 1;
}

.main {
  order: 2;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: row;
}

.menubutton {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px 10px 20px;
  height: 100%;
  border: none;
  background-color: #748e54;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: white;

  h3 {
    font-weight: normal;
    margin: 0px 10px;
  }
}

h2,
h3 {
  font-weight: normal;
}

.menubutton:hover {
  text-decoration: underline;
}

.content-box {
  display: flex;
  margin: 10px 10px 0px 0px;
  border-radius: 10px;
}

input {
  font-size: 15px;
  border-radius: 5px;
  border: none;
  height: 25px;
}

label {
  margin: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.submit {
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  background-color: #748e54;
  width: 100%;
  height: 30px;
}

.submit:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
